/* Telefones em landscape e abaixo */
/* Telefone em landscape a tablet em portrait */
/* tablet em portrait a landscape e desktop */
/* // */
.header-container { border-top: 5px solid #b3000c; position: relative; background-color: white; }

.header { position: relative; height: auto; max-width: none; margin: 0 auto; -webkit-box-sizing: border-box; box-sizing: border-box; }

.header-description { position: relative; margin: 0; font-family: 'Source Sans Pro', sans-serif; }

.navbar { -webkit-box-sizing: border-box; box-sizing: border-box; display: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -ms-flex-wrap: wrap; flex-wrap: wrap; background-color: #F1F1F1; }
.navbar ul { padding: 2px 0; margin: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.navbar ul li { list-style: none; font-size: 20px; color: #555; margin: 2px 5px; background-color: white; }
.navbar ul li a { -webkit-box-sizing: border-box; box-sizing: border-box; display: block; padding: 5px 5px 10px 20px; -webkit-transition: 0.2s; transition: 0.2s; height: 100%; }
.navbar ul li a:hover, .navbar ul li a:active { color: #b3000c; border-left: 5px solid #b3000c; }
.navbar ul li.current-menu-item { border-left: 5px solid #b3000c; }

.responsive-bar { padding: 10px 0; padding-right: 20px; padding-left: 20px; -webkit-box-sizing: border-box; box-sizing: border-box; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
@media (max-width: 767px) { .responsive-bar { padding-right: 10px; padding-left: 10px; } }

@media (min-width: 900px) { .header { padding: 10px 0; }
  .navbar { padding-right: 20px; padding-left: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; background-color: rgba(0, 0, 0, 0); } }
@media (min-width: 900px) and (max-width: 767px) { .navbar { padding-right: 10px; padding-left: 10px; } }
@media (min-width: 900px) { .navbar .brand { display: inline-block; }
  .navbar ul { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }
  .navbar ul li { text-align: center; }
  .navbar ul li a { padding: 5px 10px; }
  .navbar ul li a:hover, .navbar ul li a:active { border: none; -webkit-box-shadow: 0 2px 0 #b3000c; box-shadow: 0 2px 0 #b3000c; background-color: none; }
  .navbar ul li.current-menu-item { border: none; -webkit-box-shadow: 0 2px 0 #b3000c; box-shadow: 0 2px 0 #b3000c; background-color: none; }
  .responsive-bar { display: none; } }
.brand { display: none; margin: 10px 0; }

.brand-description { color: #555; margin: 0; font-size: 14px; }

/*# sourceMappingURL=navbar.css.map */