@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Bitter|Roboto+Condensed');

/*menu*/

nav#menu{
	display: block;
}
nav#menu ul{
	list-style: none;
	position: absolute;
	text-transform: uppercase;
	top: -20px;
	left: 120px;
}
nav#menu li{
	display: inline-block;
	padding: 10px;
	margin: 2px;
}
nav#menu a{
	text-decoration: none;
	color: white;
	size: 24pt;
	transition: 0.8s;
}
nav#menu a:hover {
	color: orange;
}
nav#menu a:active {
	color: red;
}

/*Texto*/

.rainbow {
  -webkit-animation: rainbow 3s infinite;
  font-size: 25pt;
  font-family: 'Bitter';
}

  @-webkit-keyframes rainbow{
	20%{color: red;}
	40%{color: yellow;}
	60%{color: green;}
	80%{color: blue;}
	100%{color: orange;}	
}

/*img*/

/*Geral*/

body{
	background-color: #111;
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}
div#tudo{
	margin-top: 40px;
	margin-left: 150px;
	margin-right: 150px;
	border: 2px solid white;
	padding: 20px;
	text-align: center;
}

button{
	background-color: white;
	font-size: 16pt;
	border: 1px solid orange;
}
button:active {
	background-color: lightblue;
}